input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active { 
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active { /* also works for firefox! */
    filter: none; /* u need this for firefox */
    box-shadow: 0 0 0 100px rgb(36, 56, 100) inset;
}