.css-heg063-MuiTabs-flexContainer{
    justify-content:space-around !important;
}

.css-1aquho2-MuiTabs-indicator{
    // left:0% !important;
    // width: auto !important;
    height: 3px !important;
}
.react-tel-input .form-control{
    font-size: 20px !important;
    height: 55px !important;
    width: 100% !important;
    margin-left: 4px !important;
}