
.p {
    // margin-top: auto !important;
   p{margin-top: auto !important;};
}
.MuiIconButton-root{
    padding: 0px !important;
    cursor: pointer;
}
.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
    padding-right: 20px !important;
}
.ForwardRef-searchIconButton-4 {
        // margin-right: 0 !important;
        padding-right: 20px !important;
}
// padding-top: 15px;
//     padding-right: 15px;
//     padding-bottom: 15px;
//     padding-left: 15px;

.successLabel{
    background-color: #28a745
}
.dangerLabel{
    background-color: #dc3545;
}
.status_icon svg{
    font-size: 16px;
}